@import '../../../assets/scss/global.scss';

.section-list-page {
    display: flex;
    justify-content: center;
    align-items: center;

    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    
    .section-list-page {
        padding: 0;
    }
}